*body{
    margin: 0px;
    padding: 0px;
}

.txt{
    font-size: 15px;
    color: white;
    text-align: left;
    padding-top: 10px;
}
.txt2{
    font-size: 10px;
    color: red;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.txt3{
    color: red;
}
.espaco{
    padding-bottom: 10px;
}